.idea/
.env
mutagen.yml.lock

web/vendor
web/sites/default/files
web/core/
web/profiles/
web/themes/
web/vendor/
web/modules/contrib/
web/*.php
web/*.txt
web/example.gitignore
web/sites/README.txt
web/sites/default/default.services.yml
web/sites/default/default.settings.php
web/sites/default/settings.local.php
web/sites/default/settings.php
web/sites/development.services.yml
web/sites/example.settings.local.php
web/sites/example.sites.php
web/web.config
web/.csslintrc
web/.editorconfig
web/.eslintignore
web/.eslintrc.json
web/.gitattributes
web/.htaccess
